:root {
    --main-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
}

.wrapper {
    width: 95%;
    max-width: 76em;
    margin: 0 auto;
}


.col {
    float: left;
    outline: 1px solid #666;
}


.row, .main-content {

    min-height: 100px;
    outline: 1px solid #666;
    font-family: var(--main-font-family);
}


.scores {
    margin-right: 50em;
}


.main-content {
    padding-left: 320px;
    padding-right: 320px;   
}

#top {
    text-align: center;
}

#middle {

    text-align: left;
    padding-left: 138px;
}


#middle p {
    margin-top: 2px;
}

#top button, #middle button {
    width: 130px;
    height: 30px;
    text-align: left;
    border-radius: 8px;
    border-width: 1px;
    background-color: rgba(166, 6, 166, 0.736);
    color: #fff;

}

#middle button {

width: 160px;
}

#top button{
    text-align:center;
}


#top button:hover, #middle button:hover {

    background-color:rgba(166, 6, 166, 50%)
}