:root {
    --main-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
}

.wrapper {
    width: 95%;
    max-width: 76em;
    margin: 0 auto;
}


.col {
    float: left;
    outline: 1px solid #666;
}


.row {

    min-height: 100px;
    outline: 1px solid #666;
    font-family: var(--main-font-family);
}


.scores {
    margin-right: 50em;
}


.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
   
}